@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  background-color: #eeeeee;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  
}
#kalkulator {
  background-color: #f0f5fc;
  margin:  auto;
  margin-top:50px;
  padding: 0;
  max-width: 330px;
  overflow-wrap: break-word;
}
.rounded{
    border-radius: 13px !important;
}
.gumb{
    background-color: #3d4c7e1e;
    border-radius: 5px !important;
    color: #3D4C7E;
    font-size: 1.6rem;
    width: 52.4px;
    
}
.gumb:hover{
    background-color: #d0d8f5;
}

.row{
    margin-top: 10px;
}
#buttons{
    padding: 10px;
    padding-bottom: 20px;
}

#result-container{
    padding:15px;
    padding-right: 20px;
    background-color: #3D4C7E;
    color:#EEEEEE;
    text-align: end;
    min-height: 115px;
}
#result-container .zgornja-vrstica{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
#result-container .spodnja-vrstica{
    font-size: 2.1rem;
}
.equals{
    width: 100%;
    background-color:#3D4C7E;
    color:#EEEEEE;
    border-radius: 5px !important;
    font-size: 1.6rem;
}
.random{
    background-color: #3d4c7e1e;
    border-radius: 5px !important;
    color: #3D4C7E;
    font-size: 1.6rem;
    width: 52.4px;
}
.random:hover{
    background-color: #d0d8f5;
}

.equals:hover{
    background-color: #d0d8f5;
}
nav{
    
    font-size: 1.2rem;
    color:#3D4C7E;
}
.nav-link{
    color:#3D4C7E !important;
}
.nav-link:hover{
    color:black !important;
}
.navbar{
    background-color: #EEEEEE !important;
}
.navbar-brand{
    color: #3D4C7E !important;
    font-size: 2rem !important;
    margin-right: 30px;
    padding-left: 20px;
    
}
.navbar-toggler{
    margin-right: 30px !important;
}



.form-select{
    margin-bottom: 10px;
    width: 50%;
    background-color: #3d4c7ede;
    color: #eeeeee ;
}
.sistemi{
    min-width: 350px;
    
}
.upload-icon{
    font-size: 2.5rem;
    margin-top: 60%;
    margin-left: 20%;
    color:#3D4C7E;
}
.upload-icon:hover{
    color: #d0d8f5;
    cursor: pointer;
}

.form-group{
    margin-top: 10px;
}
.sistem-select .col-10{
    margin-left: 0;
    padding-left: 0;
}
.sistem-select{
    font-size: 1.3rem;
    
}
.sistem-select .col-2{
    color: #3d4c7e;
}
.stevilski-sistemi{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;;
}
.stevilo{
    color: #3D4C7E;
    font-size: 1.2rem;
}
.stevilo textarea{
    background-color: #3d4c7eec;
    border-radius: 12px;

}
.form-select{
    background-color: #3d4c7eec;
}

.custom-button{
    background-color: #3D4C7E;
    color: #EEEEEE;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.custom-button:hover{
    background-color: black;
    cursor: pointer;
}
.selectlabel{
    color: #3D4C7E;
    font-size: 0.9em;
}
#formcontrolarea1{
    color: white !important;
}
#formcontrolarea1::placeholder{
    color: white !important;
}
#formcontrolarea1:focus{
    color: #3D4C7E !important;
}

@media(max-width:600px){
    #kalkulator{
        width: 90%;
        max-width: 310px;
    }
    .nav-item{
        padding-left:20px;
    }
}

